.borde {
  border: solid red 1px;
}

.is-bebas {
  font-family: "Bebas Neue", cursive;
}
.is-oswald {
  font-family: "Oswald", sans-serif;
}
.is-Quicksand {
  font-family: "Quicksand", sans-serif;
}
.overflowless {
  /* border: 1px dotted black; */
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflowless::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflowless {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
